body{

  background-color: aliceblue;
}
.container{
  background-color:white;
  border-radius: 20px;
  width: 450px;
  height: 650px;
}

.demo{
  text-align: center;
}

.flex{
  display: flex;
  gap: 10px;
  margin: 20px;
  background-color: hsl(228, 33%, 97%);
  border-radius: 15px;
}
.link{
  padding-left: 100px;
  padding-top: 30px;
  font-size: 20px;
}
.plan{
  padding-left: 15px;
}

.button{
  background-color: rgb(70, 70, 243);
  color: white;
  width: 400px;
  height: 50px;
  margin-left: 20px;
  border-radius: 15px;
  font-size: 15px;
}

.image{
  border-top-right-radius: 15px;
  border-bottom-left-radius:15px ;
}

.order{
  text-align: center;
  font-size: 20px;
  
}
.icon{
  width: 50px;
  height: 50px;
  margin-top: 20px;
  margin-left: 10px;
}